.navWrapper {
	position: fixed;
	width: 100%;
}

.navbarOverCta {
	background-color: rgb(1, 0, 75);
}

.navContainer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--size-7-5);
	padding: var(--size-1-25) var(--size-3);
}

.navItem {
	list-style-type: none;
}

.navLogo {
	position: relative;
	width: var(--size-30);
	height: var(--size-10);
}

.logo {
	object-fit: contain;
}

.navButton {
	background-color: transparent;
	color: var(--color-white);
	font: 600 var(--size-2-5) var(--font-body);
}


