.heroSection {
	background-blend-mode: multiply;
}

.heroSection .heroTextContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: var(--size-25) var(--size-5);
}

.heroSection .heroTextContainer h1 {
	color: var(--color-white);
	font: 500 var(--size-4) / 2 var(--font-fancy);
	letter-spacing: 2px;
	margin-bottom: var(--size-1-25);
	text-align: center;
}

.heroSection .heroTextContainer p {
	color: var(--color-white);
	max-width: var(--size-75);
	text-align: center;
	font: 500 var(--size-1-5) / 1.8 var(--font-body);
}

.ctaSection {
	position: relative;
}

.ctaSection .ctaMockup {
	position: absolute;
	width: 100%;
	height: var(--size-40);
	transform: translateY(calc(-1 * var(--size-15)));
	.image {
		object-fit: contain;
	}
}

.ctaSection .ctaButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: var(--size-25);
	gap: var(--size-1-25);
}

.ctaSection .ctaButtonContainer a {
	width: var(--size-25);
}

.aboutSection {
	padding-top: var(--size-7-5);
}

.aboutHeading {
	margin-bottom: var(--size-5);
}

.aboutHeading h2 {
	text-align: center;
	font: 600 var(--size-5) var(--font-fancy);
	letter-spacing: 3px;
	color: var(--color-blue);
}

.aboutSection .aboutRow {
	display: flex;
	flex-direction: column;
	gap: var(--size-7-5);
}

.aboutSection .infoText {
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutSection .infoText.odd {
	flex-direction: row-reverse;
}

.aboutSection .infoText.even {
	flex-direction: row;
}

.aboutSection .infoText .mockupWrapper {
	width: var(--size-70);
}

.aboutSection .infoText .imageWrapper {
	position: relative;
	width: 100%;
	height: var(--size-60);
}

.aboutSection .infoText.even .imageWrapper {
	background: linear-gradient(104deg, #000000 0%, #1400ff 100%);
	background-repeat: no-repeat;
	background-size: 75% 50%;
	background-position: center;
}

.aboutSection .infoText.odd .imageWrapper {
	background: linear-gradient(104deg, #1400ff 0%, #000000 100%);
	background-repeat: no-repeat;
	background-size: 75% 50%;
	background-position: center;
}

.aboutSection .infoText .imageWrapper img {
	object-fit: contain;
}

.aboutSection .infoText .infoTextWrapper {
	width: var(--size-70);
}

.aboutSection .infoText .infoTextWrapper h3 {
	font: 400 var(--size-2-5) var(--font-fancy);
	letter-spacing: 1px;
	margin-bottom: var(--size-1-25);
}

.aboutSection .infoText.even .infoTextWrapper h3,
.aboutSection .infoText.even .infoTextWrapper p {
	text-align: left;
}

.aboutSection .infoText.odd .infoTextWrapper h3,
.aboutSection .infoText.odd .infoTextWrapper p {
	text-align: right;
}

.aboutSection .infoText .infoTextWrapper p,
.aboutSection .infoText .infoTextWrapper ol {
	font: 400 var(--size-1-25) / 1.6 var(--font-body);
}

.aboutSection .infoText .infoTextWrapper p:not(:last-child) {
	margin-bottom: var(--size-1-25);
}

.featureSection {
	padding-top: var(--size-7-5);
}

.featureSection .featureHeading {
	margin-bottom: var(--size-5);
}

.featureSection .featureHeading h2 {
	text-align: center;
	font: 600 var(--size-5) var(--font-fancy);
	letter-spacing: 3px;
	color: var(--color-blue);
}

.featureSection .featureText {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--size-7-5);
	margin-bottom: var(--size-5);
}

.featureSection .featureText svg {
	flex-basis: var(--size-10);
	width: var(--size-7-5);
	height: var(--size-7-5);
	color: green;
}

.featureSection .featureText .featureContent {
	flex-basis: var(--size-70);
}

.featureSection .featureText .featureContent h3 {
	font: 400 var(--size-2-5) var(--font-fancy);
	letter-spacing: 1px;
	margin-bottom: var(--size-1-25);
}

.featureSection .featureText .featureContent p {
	font: 400 var(--size-1-25) / 1.6 var(--font-body);
}

.videoSection {
	padding-top: var(--size-7-5);
}

.videoSection .videoHeading {
	margin-bottom: var(--size-5);
}

.videoSection .videoHeading h2 {
	text-align: center;
	font: 600 var(--size-5) var(--font-fancy);
	letter-spacing: 3px;
	color: var(--color-blue);
}

.videoSection .videoContainer {
	display: flex;
	justify-content: center;
}

.videoSection .videoContainer > div {
	box-shadow: var(--default-box-shadow);
}

.faqSection {
	padding-top: var(--size-7-5);
}

.faqSection .faqHeading {
	margin-bottom: var(--size-5);
}

.faqSection .faqHeading h2 {
	text-align: center;
	font: 600 var(--size-5) var(--font-fancy);
	letter-spacing: 3px;
	color: var(--color-blue);
}

.poweredBySection {
	padding: var(--size-7-5) 0;
}

.poweredBySection h2 {
	text-align: center;
	font: 600 var(--size-5) var(--font-fancy);
	letter-spacing: 3px;
	color: var(--color-blue);
	margin-bottom: var(--size-5);
}

.poweredBySection .poweredByContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-20);
}

.poweredByContainer .poweredByWrapper {
	position: relative;
	width: var(--size-25);
	height: var(--size-25);
}

.poweredByContainer .poweredByWrapper .image {
	object-fit: contain;
}


@media screen and (max-width: 768px) {
	.aboutSection .infoText.odd,
	.aboutSection .infoText.even  { 
		flex-direction: column;
		.infoTextWrapper {
			width: 85%;
		}
		.infoTextWrapper h3,
		.infoTextWrapper p {
			text-align: center;
		}
	}
}
