.footer {
	background: linear-gradient(180deg, #3249a3 0%, #000000 100%);
}

.footerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--size-7-5) var(--size-3-5);
}

.footerContainer .headingWrapper h4 {
	font: 400 var(--size-2-5) var(--font-fancy);
	letter-spacing: 1px;
	color: var(--color-white);
	margin-bottom: var(--size-5);
}

.footerForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--size-0-5);
    margin-bottom: var(--size-5);
}

.footerForm div:nth-last-of-type(3) {
	display: flex;
	justify-content: center;
	gap: var(--size-0-5);
	.input {
		border-radius: 5px;
		padding: var(--size-1) var(--size-1-5);
	}
}

.footerForm div:nth-last-of-type(2) {
	display: flex;
	width: 100%;
	.input {
		border-radius: 5px;
		width: 100%;
		padding: var(--size-1) var(--size-1-5);
	}
}

.footerForm .button {
	padding: var(--size-0-5) var(--size-7-5);
	border-radius: 5px;
}

.footer .socials {
    display: flex;
    gap: var(--size-7-5);
    margin-bottom: var(--size-3-5);
}

.footer .socials a,
.footer .socials a svg {
    color: var(--color-white);
    width: var(--size-3-5);
    height: var(--size-3-5);
}

.footer .copyright {
}

.footer .copyright span {
    color: var(--color-white);
    display: flex;
    align-items: center;
    font: 400 var(--size-1-25) / 1.6 var(--font-body);
}

.footer .copyright span svg {
    margin: 0 var(--size-0-5);
}
